
/* 
---------------------------------------------
Call To Action Style
--------------------------------------------- 
*/

@import url("base.css");

.call-to-action {
  margin-top: 120px;
  background-image: url(../images/cta-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 75px 0px;
}

.call-to-action h2 {
  font-size: 40px;
  color: #fff;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.call-to-action h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.call-to-action .border-button {
  text-align: right;
  margin-top: 20px;
}

.call-to-action .border-button a {
  color: #fff;
  border-color: #fff
}

.call-to-action .border-button a:hover {
  background-color: #fff;
  color: var(--main-color);
}