@import url("base.css");


.amount-display, .amount-subdisplay{
  font-size: 17px;
  color: black;
  z-index: 2;
  margin-right: 15px;
  font-weight: bold;
}

.slider-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  font-family: sans-serif;
  z-index: 2;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 23vw;
  height: 10px;
  outline: none;
  background: none;
}

/* Track var(--main-color);*/
input[type="range"]::-webkit-slider-runnable-track {
  border: none;
  outline: none;
  box-shadow: none;
  background: #ecbd52;
}

/* Thumb #f6ce3e;*/
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  background: var(--main-color);
  border-radius: 50%;
  border: 1.5px solid white;
  margin-top: -4.5px;
  margin-bottom: -4.5px;
  cursor: pointer;
  transition: background 0.3s ease;
}


input[type="range"]::-webkit-slider-thumb:hover {
  height: 17px;
  width: 17px;  
}

/* Firefox */
input[type="range"]::-moz-range-track {
  background: var(--main-color);
  height: 8px;
  border-radius: 5px;
}

input[type="range"]::-moz-range-thumb {
  background: var(--main-color);
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  cursor: pointer;
}

/* Edge */
input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: var(--main-color);
  border-radius: 5px;
}

input[type="range"]::-ms-fill-upper {
  background: var(--main-color);
  border-radius: 5px;
}

input[type="range"]::-ms-thumb {
  background: var(--main-color);
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-control .decreaseBtn, .slider-control .increaseBtn{
  font-size: 27px;
  color: rgb(143, 142, 142);
  border: none;
  border-radius: 6px;
  margin-left: -10px;
  margin-right: -10px;
  cursor: pointer;
  background: none;
  transition: background 0.2s ease;
}

.slider-control .decreaseBtn:hover, .slider-control .increaseBtn:hover {
  transform: scale(1.1);
}

.slider-control .adjustBtn {
  background-color: #ffd166;
  color: black;
  font-size: 15px;
  padding: 6px 16px;
  margin-left: 10px;
  border-radius: 28px;
  border: none;
}

.slider-control .adjustBtn:hover {
  opacity: 0.8;
}