<form action="" method="post">
<div class="selection-input">

  <div class="divider"> </div>


  <div class="selection-section">
    <button type="button" class="selection-section-btn">
        <span class="selection-arrow">&#9662;</span> 
        <i class="fa-solid fa-circle-dollar-to-slot fa-lg"></i>
        1. BUDGET 
    </button>
    <div class="selection-section-content" style="display: block;">

      <div id="budget-input" class="pref-input">

        <div id="budget-text" class="pref-text">
          Select Your Ideal Budget Below
        </div>

        <div id="budget-input-inner" class="pref-inner">
          <div class="slider-control">
            <div class="amount-display">$<span id="budget-amountValue">100</span></div>

            <button type="button" id="budget-decreaseBtn" class="decreaseBtn">−</button>
                
            <input type="range" name="budget_slider" id="budget-amountSlider" min="0" max="10000" value="100" step="50">
                
            <button type="button" id="budget-increaseBtn" class="increaseBtn">+</button>
          </div>
        </div>
      </div>

      <div class="selection-section-nav">                    
        <button type="button" class="selection-next">Next</button>
      </div>
      
    </div>
  </div>



  <div class="selection-section">
    <button type="button" class="selection-section-btn">
        <span class="selection-arrow">&#9662;</span> 
        <i class="fa-solid fa-passport fa-lg"></i> 
        2. PASSPORTS 
    </button>
    <div class="selection-section-content">
      
      <div id="passport-input" class="pref-input">

        <div id="passport-text" class="pref-text"> Select All Countries for Which You Hold a Valid Passport </div>

        <div id="passport-input-inner" class="pref-selects">
          <div id="passport-tag-selector" class="tag-selector">
            
            <select id="passport-tagDropdown" class="tag-dropdown">
              <option value="" disabled selected>Select a country</option>
              {% for country in countries %}
                <option value="{{ country.name }}">{{ country.name }}</option>
              {% endfor %}
            </select>

            <div id="passport-selectedTags" class="selectedTags"></div>
          </div>
          
        </div>
      </div>

      <div class="selection-section-nav">
        <button type="button" class="selection-back">Back</button>
                
        <button type="button" class="selection-next">Next</button>
      </div>

    </div>
  </div>




  <div class="selection-section">
    <button type="button" class="selection-section-btn">
        <span class="selection-arrow">&#9662;</span> 
        <i class="fa-solid fa-id-card fa-lg"></i>
        3. VISAS
    </button>
    <div class="selection-section-content">

      <div id="visa-input" class="pref-input">
        <div id="visa-text" class="pref-text"> Select All Countries for Which You Hold a Valid Visa </div>

        <div id="visa-input-inner" class="pref-selects">

          <div id="visa-tag-selector" class="tag-selector">
            <select id="visa-tagDropdown" class="tag-dropdown">
              <option value="" disabled selected>Select a country</option>
              {% for country in countries %}
                <option value="{{ country.name }}">{{ country.name }}</option>
              {% endfor %}
            </select>

            <div id="visa-selectedTags" class="selectedTags"></div>
          </div>

        </div>
      </div>

      <div class="selection-section-nav">
        <button type="button" class="selection-back">Back</button>
                
        <button type="button" class="selection-next">Next</button>
      </div>
      
    </div>
  </div>


  
  <div class="selection-section">
    <button type="button" class="selection-section-btn">
        <span class="selection-arrow">&#9662;</span> 
        <i class="fa-solid fa-icons fa-xl"></i>
        4. PREFERRED ACTIVITIES
    </button>
    <div class="selection-section-content" id="activities-content">
  
      {% for category in categories %}
      <div class="selection-section">
        <button type="button" class="selection-subsection-btn">
            <span class="selection-subarrow">&#9662;</span> 
            <i class="fa-solid fa-heart fa-lg"></i>
            {{ category.category_name | upper }} 
        </button>
        <div class="selection-subsection-content">

          {% set category_firstword = category.category_name.split(' ')[0] | lower %}

          <div id="{{ category_firstword }}-input" class="pref-input">
            <div id="{{ category_firstword }}-text" class="pref-text"> Select Your Preferred Activity Tags & Priorities Below</div>

            <div id="{{ category_firstword }}-input-inner" class="pref-selects">

              <div id="{{ category_firstword }}-tag-selector" class="tag-selector">
                <select id="{{ category_firstword }}-tagDropdown" class="tag-dropdown">
                  <option value="" disabled selected>Select a tag</option>
                  {% for activity in category.category_activities %}
                  <option value="{{ activity.name }}">{{ activity.name }}</option>
                  {% endfor %}
                </select>

                <div id="{{ category_firstword }}-selectedTags" class="selectedTags"></div>
              </div>      
              
              <div id="{{ category_firstword }}-slider-control" class="slider-control" style="display: none;">
                <div> <span class="priority-name" id="{{ category_firstword }}-priority-name"></span></div>
                <div class="amount-subdisplay"> <span id="{{ category_firstword }}-amountValue">0</span></div>

                <button type="button" id="{{ category_firstword }}-decreaseBtn" class="decreaseBtn">−</button>
                    
                <input type="range" name="{{ category_firstword }}_slider" id="{{ category_firstword }}-amountSlider" min="0" max="10" value="0" >
                    
                <button type="button" id="{{ category_firstword }}-increaseBtn" class="increaseBtn">+</button>

                <button type="button" id="{{ category_firstword }}-adjustBtn" class="adjustBtn">Save</button>
              </div>
            </div>
          </div>

          <div class="selection-section-nav">
            <button type="button" class="selection-back">Back</button>
                      
            <button type="button" class="selection-next">Next</button>
          </div>
          
        </div>
      </div>
      {% endfor %}


    </div>
  </div> 


  <div class="divider"> </div>  
  
 
  <div id="save-input" class="pref-input">
    <div id="save-input-inner" class="pref-inner">
      <button type = "submit" class="save">Save Changes</button>    
    </div>   
  </div>
  

</div>
</form>


{% block js %}   
  <script> 
    
    const category_submit = [];


    
    /* 
        <----------------------------------------------->
        <--------------- SLIDER ELEMENTS --------------->
        <----------------------------------------------->
    */

    const slider_elements = [
      {
        /*Budget*/
        elementName: "Budget",
        slider: document.getElementById("budget-amountSlider"),
        amountValue: document.getElementById("budget-amountValue"),
        increaseBtn: document.getElementById("budget-increaseBtn"),
        decreaseBtn: document.getElementById("budget-decreaseBtn"),
        stepValue: 50
      }      
    ];

    {% for category in categories %}

      slider_elements.push(
        {
          elementName: "{{ category.category_name | escape }}",
          slider: document.getElementById("{{ category.category_name.split(' ')[0] | lower | escape }}-amountSlider"),
          amountValue: document.getElementById("{{ category.category_name.split(' ')[0] | lower | escape }}-amountValue"),
          increaseBtn: document.getElementById("{{ category.category_name.split(' ')[0] | lower | escape }}-increaseBtn"),
          decreaseBtn: document.getElementById("{{ category.category_name.split(' ')[0] | lower | escape }}-decreaseBtn"),
          adjustBtn: document.getElementById("{{ category.category_name.split(' ')[0] | lower | escape }}-adjustBtn"),
          stepValue: 1 
        }
      );

    {% endfor %}


    // Update value when slider moves (within its range)
    function set_pref_amt(el_slider, amt_val, display_val) {      
      display_val = parseInt(el_slider.value);
      amt_val.innerText = display_val;
    }

    // Increase displayed amount
    function increase_amt(el_slider, amt_val, add_val) { 
      let current_val = parseInt(amt_val.innerText);

      if (current_val < parseInt(el_slider.max)) {
        current_val += add_val;
      }

      el_slider.value = current_val;
      amt_val.innerText = current_val;
    }

    // Decrease displayed amount
    function decrease_amt(el_slider, amt_val, minus_val) { 
      let current_val = parseInt(amt_val.innerText);

      if (current_val > parseInt(el_slider.min)) {
        current_val -= minus_val;
      }

      el_slider.value = current_val;
      amt_val.innerText = current_val;
    }


    //Slider & Amount Adjustment
    slider_elements.forEach(element => {

      element.slider.addEventListener("input", () => {
        set_pref_amt(element.slider, element.amountValue);
      });

      element.increaseBtn.addEventListener("click", () => {
        increase_amt(element.slider, element.amountValue, element.stepValue)
      });
      
     element.decreaseBtn.addEventListener("click", () => {
        decrease_amt(element.slider, element.amountValue, element.stepValue)
      });

    });




    /* 
        <--------------------------------------------------->
        <---------------- DROPDOWN ELEMENTS ---------------->
        <--------------------------------------------------->
    */

    function update_activity_submit(e, slider_el) {      
      //check if tag name exists in category_submit list
      //if does, update priority 
      //if not, push to list, making note of the category, slected tag and current priority

      console.log(e.target);


      let target_category = category_submit.find(
        category => Object.values(category).find(category_value => category_value === slider_el.elementName) !== undefined
      );


      if (target_category){

        let activities_list = Object.entries(target_category).find(([key, value]) => key === "categoryActivities")[1];

        let selected_tag_name = e.target.innerHTML.slice(0, e.target.innerHTML.indexOf(" <"))

        let activity_exists_check = activities_list.find(
          activity => Object.values(activity).find(activity_value => activity_value === selected_tag_name) !== undefined
        )

        console.log(selected_tag_name);

        console.log(activity_exists_check);

        if ( activity_exists_check !== undefined &&) {

          activity_exists_check.activityPriority = slider_el.slider.value;

        } else {

          activities_list.push(

            {
              activityName: selected_tag_name,
              activityPriority: slider_el.slider.value
            }

          )  
        }

        
             
        
        console.log("activities_list: ")
        console.log(activities_list);
        
      }       
      else {

        category_submit.push(
          {
            categoryName: slider_el.elementName,
            categoryActivities: [
              {
                activityName: e.target.innerHTML.slice(0, e.target.innerHTML.indexOf(" <")),
                activityPriority: slider_el.slider.value
              }            
            ]          
          }
        );

      }

      
      console.log("category_submit: ");
      console.log(category_submit);
    }

    const dropdown_elements = [
      {
        /*Visa*/
        elementName: "Visa",
        dropdown: document.getElementById('visa-tagDropdown'),
        selectedTagsContainer: document.getElementById('visa-selectedTags')
      },
      {
        /*Passport*/
        elementName: "Passport",
        dropdown: document.getElementById('passport-tagDropdown'),
        selectedTagsContainer: document.getElementById('passport-selectedTags')
      }      
    ];

    {% for category in categories %}

      //console.log(slider_elements.find(element => element.elementName === "{{ category.category_name | escape }}"))

      dropdown_elements.push(
        {
          elementName: "{{ category.category_name | escape }}",
          dropdown: document.getElementById("{{ category.category_name.split(' ')[0] | lower | escape }}-tagDropdown"),
          selectedTagsContainer: document.getElementById("{{ category.category_name.split(' ')[0] | lower | escape }}-selectedTags"),
          priorityName: document.getElementById("{{ category.category_name.split(' ')[0] | lower | escape }}-priority-name"),
          sliderDiv: document.getElementById("{{ category.category_name.split(' ')[0] | lower | escape }}-slider-control"),
          sliderElement: slider_elements.find(element => element.elementName === "{{ category.category_name | escape }}")
        }
      );

    {% endfor %}
    

    function populate_tags(el_dropdown, tags_container, priority_name, slider_div, slider_el) {      
      const value = el_dropdown.value;
      if (!value) return;

      // Check for duplicates
      if (Array.from(tags_container.children).some(tag => tag.dataset.value === value)) return;

      const tag = document.createElement('div');
      tag.classList.add('selection-tag');
      tag.dataset.value = value;
      tag.innerHTML = `${value} <span class="remove-tag"> &times; </span>`;

      let clicked_tag = null;

      tag.addEventListener("click", function(e) {

        

        if (priority_name != null){
          if (Array.from(tags_container.children).some(child => child !== tag && child.classList.contains("active-tag"))){
            return;
          } 
          else {
            clicked_tag = e;

            if (tag.classList.contains("active-tag")) {
              tag.classList.remove("active-tag");
              slider_div.style.display = "none";
              slider_el.slider.value = 0;
              slider_el.amountValue.innerHTML = 0;

              //if tag is already in dictionary, grab priority value from it and set slider value to it

            }
            else {
              tag.classList.add('active-tag');
              priority_name.innerHTML = 'Adjust "' + value + '" Priority:';
              slider_div.style.display = "flex";
            }    
            
          }
        } 
        else {
          return;
        }              
          
      });

      tags_container.appendChild(tag);

      slider_el.adjustBtn.addEventListener("click", () => {
        update_activity_submit(clicked_tag, slider_el);
      });
    }
    
    function remove_tags(e) {      
      if (e.target.classList.contains('remove-tag')) {
        e.target.parentElement.remove();
      }
    }

    


    dropdown_elements.forEach(element => {

      if (element.priorityName != null) {
        //console.log(element.priorityName)
        element.dropdown.addEventListener('change', () => {
          populate_tags(element.dropdown, element.selectedTagsContainer, element.priorityName, element.sliderDiv, element.sliderElement);
        });
      }
      else {
        element.dropdown.addEventListener('change', () => {
          populate_tags(element.dropdown, element.selectedTagsContainer, null, null, null);
        });
      }

      element.selectedTagsContainer.addEventListener('click', (e) => {
        remove_tags(e);
      });

    });



    /* 
        <----------------------------------------------------->
        <---------------- DROPDOWN NAVIGATION ---------------->
        <----------------------------------------------------->
    */
    
    const dropdownButtons = document.querySelectorAll('.selection-section-btn, .selection-subsection-btn');
    //console.log(dropdownButtons);

    dropdownButtons.forEach(button => {
      button.addEventListener('click', function() {
        this.classList.toggle('active');
    
        const dropdownContent = this.nextElementSibling;
        const arrow = this.querySelector('.selection-arrow, .selection-subarrow');
    
        if (dropdownContent.style.display === "block") {
          dropdownContent.style.display = "none";
          arrow.innerHTML = "&#9662;"; // arrow points down
        } else {
          dropdownContent.style.display = "block";
          arrow.innerHTML = "&#9652;"; // arrow points up
        }
      });
    });


    //BACK & NEXT BUTTONS

    //when click back, trigger click event of dropdown above it and remove display of current dropdown
    //when click next, trigger click event of dropdown below it and remove display of current dropdown



  </script>

{% endblock%}