<form id="selection-form">
<div class="selection-input">

  <div id="form-feedback-div" class="selection-feedback-div success-message"> 
    <i class="fa-solid fa-circle-check fa-lg"></i>
    Success: User Preferences Saved!
  </div>

  <div class="divider"> </div>

  <div class="selection-section">
    <button type="button" id="budget-section-btn" class="selection-section-btn">
        <span id="budget-arrow" class="selection-arrow">&#9662;</span>         

        <i class="fa-solid fa-circle-exclamation fa-beat fa-lg error-icon" style="display: none;"></i>

        <i class="fa-solid fa-circle-dollar-to-slot fa-lg"></i>
        1. BUDGET 
    </button>
    <div class="selection-section-content" style="display: block;">

      <div id="budget-input" class="pref-input">

        <div id="budget-feedback-div" class="selection-feedback-div neutral-message"> 
          <i class="fa-solid fa-circle-exclamation fa-lg"></i>
          Note: Please Adjust The Element.
        </div>

        <div id="budget-text" class="pref-text">
          Select Your Ideal Budget Below
        </div>

        <div id="budget-input-inner" class="pref-inner">
          <div class="slider-control">
            <div class="amount-display">$<span id="budget-amountValue">100</span></div>

            <button type="button" id="budget-decreaseBtn" class="decreaseBtn">−</button>
                
            <input type="range" name="budget_slider" id="budget-amountSlider" min="0" max="10000" value="100" step="50">
                
            <button type="button" id="budget-increaseBtn" class="increaseBtn">+</button>
          </div>
        </div>
      </div>     
      
      <div class="selection-section-nav">    
        <button type="button" id="budget-back" class="selection-back">Back</button>

        <button type="button" id="budget-next" class="selection-next">Next</button>
      </div>
      
    </div>
  </div>



  <div class="selection-section">
    <button type="button" id="passport-section-btn" class="selection-section-btn">
        <span id="passport-arrow" class="selection-arrow">&#9662;</span>         

        <i class="fa-solid fa-circle-exclamation fa-beat fa-lg error-icon" style="display: none;"></i>

        <i class="fa-solid fa-passport fa-lg"></i> 
        2. PASSPORTS       
    </button>
    <div class="selection-section-content">
      
      <div id="passport-input" class="pref-input">

      <div id="passport-feedback-div" class="selection-feedback-div hidden"> </div>

        <div id="passport-text" class="pref-text"> Select All Countries for Which You Hold a Valid Passport </div>

        <div id="passport-input-inner" class="pref-selects">
          <div id="passport-tag-selector" class="tag-selector">
            
            <select id="passport-tagDropdown" class="tag-dropdown">
              <option value="" disabled selected>Select a country</option>
              {% for country in countries %}
                <option value="{{ country.name }}">{{ country.name }}</option>
              {% endfor %}
            </select>

            <div id="passport-selectedTags" class="selectedTags"></div>
          </div>
          
        </div>
      </div>

      <div class="selection-section-nav">
        <button type="button" id="passport-back" class="selection-back">Back</button>
                
        <button type="button" id="passport-next" class="selection-next">Next</button>
      </div>

    </div>
  </div>




  <div class="selection-section">
    <button type="button" id="visa-section-btn" class="selection-section-btn">
        <span id="visa-arrow" class="selection-arrow">&#9662;</span> 

        <i class="fa-solid fa-circle-exclamation fa-beat fa-lg error-icon" style="display: none;"></i>

        <i class="fa-solid fa-id-card fa-lg"></i>
        3. VISAS
    </button>
    <div class="selection-section-content">

      <div id="visa-input" class="pref-input">

        <div id="visa-feedback-div" class="selection-feedback-div hidden"> </div> 

        <div id="visa-text" class="pref-text"> Select All Countries for Which You Hold a Valid Visa </div>

        <div id="visa-input-inner" class="pref-selects">

          <div id="visa-tag-selector" class="tag-selector">
            <select id="visa-tagDropdown" class="tag-dropdown">
              <option value="" disabled selected>Select a country</option>
              {% for country in countries %}
                <option value="{{ country.name }}">{{ country.name }}</option>
              {% endfor %}
            </select>

            <div id="visa-selectedTags" class="selectedTags"></div>
          </div>

        </div>
      </div>   

      <div class="selection-section-nav">
        <button type="button" id="visa-back" class="selection-back">Back</button>
                
        <button type="button" id="visa-next" class="selection-next">Next</button>
      </div>       

    </div>
  </div>


  
  <div class="selection-section">
    <button type="button" id="activity-section-btn" class="selection-section-btn">
        <span id="activity-arrow" class="selection-arrow">&#9662;</span> 

        <i class="fa-solid fa-circle-exclamation fa-beat fa-lg error-icon" style="display: none;"></i>       

        <i class="fa-solid fa-icons fa-xl"></i>
        4. PREFERRED ACTIVITIES
    </button>
    <div class="selection-section-content" id="activities-content">
  
      {% for category in categories %}

      {% set category_firstword = category.name.split(' ')[0] | lower %}

      <div class="selection-section">
        <button type="button" id="{{ category_firstword }}-subsection-btn" class="selection-subsection-btn">
            <span id="{{ category_firstword }}-subarrow" class="selection-subarrow">&#9662;</span>    

            <i class="fa-solid fa-circle-exclamation fa-beat fa-lg error-icon" style="display: none;"></i>

            <i class="fa-solid fa-heart fa-lg"></i>
            {{ category.name | upper }} 
        </button>
        <div class="selection-subsection-content">          

          <div id="{{ category_firstword }}-input" class="pref-input">
          
            <div id="{{ category_firstword }}-feedback-div" class="selection-feedback-div hidden"> </div>
            
            <div id="{{ category_firstword }}-text" class="pref-text"> Select Your Preferred Activity Tags & Priorities Below</div>

            <div id="{{ category_firstword }}-input-inner" class="pref-selects">

              <div id="{{ category_firstword }}-tag-selector" class="tag-selector">
                <select id="{{ category_firstword }}-tagDropdown" class="tag-dropdown">
                  <option value="" disabled selected>Select a tag</option>
                  {% for activity in category.activities %}
                  <option value="{{ activity.name }}">{{ activity.name }}</option>
                  {% endfor %}
                </select>

                <div id="{{ category_firstword }}-selectedTags" class="selectedTags"></div>
              </div>      
              
              <div id="{{ category_firstword }}-slider-control" class="slider-control" style="display: none;">
                <div> <span class="priority-name" id="{{ category_firstword }}-priority-name"></span></div>
                <div class="amount-subdisplay"> <span id="{{ category_firstword }}-amountValue">0</span></div>

                <button type="button" id="{{ category_firstword }}-decreaseBtn" class="decreaseBtn">−</button>
                    
                <input type="range" name="{{ category_firstword }}_slider" id="{{ category_firstword }}-amountSlider" min="0" max="10" value="0" >
                    
                <button type="button" id="{{ category_firstword }}-increaseBtn" class="increaseBtn">+</button>

                <button type="button" id="{{ category_firstword }}-adjustBtn" class="adjustBtn">Save</button>
              </div>
            </div>
          </div>

          <div class="selection-section-nav">
            <button type="button" id="{{ category_firstword }}-back" class="selection-back">Back</button>
                      
            <button type="button" id="{{ category_firstword }}-next" class="selection-next">Next</button>
          </div>
                    
        </div>
      </div>
      {% endfor %}


    </div>
  </div> 


  <div class="divider"> </div>  
  
 
  <div id="save-input" class="pref-input">
    <div id="save-input-inner" class="pref-inner">
      <button type="button" onclick="submitForm()" class="save">Save Changes</button>    
    </div>   
  </div>
  

</div>
</form>


{% block js %}   
  <!-- SELECTION UTILITY JAVASCRIPT FUNCTIONS -->
  <script src="{{ url_for('static', filename='assets/js/selection/selection_utility.js') }}"></script>

  <!-- FEEDBACK HANDLING JAVASCRIPT FUNCTIONS -->
  <script src="{{ url_for('static', filename='assets/js/selection/selection_feedback.js') }}"></script>

  <!-- SUBMIT JAVASCRIPT FUNCTIONS -->
  <script src="{{ url_for('static', filename='assets/js/selection/selection_submit.js') }}"></script>

  <!-- NAVIGATION JAVASCRIPT FUNCTIONS -->
  <script src="{{ url_for('static', filename='assets/js/selection/selection_navigation.js') }}"></script>

  <!-- SLIDER JAVASCRIPT FUNCTIONS  -->
  <script src="{{ url_for('static', filename='assets/js/selection/selection_sliders.js') }}"></script>

  <!-- DROPDOWN JAVASCRIPT FUNCTIONS -->
  <script src="{{ url_for('static', filename='assets/js/selection/selection_dropdowns.js') }}"></script>

   <!-- NAVIGATION JAVASCRIPT FUNCTIONS -->
  <script src="{{ url_for('static', filename='assets/js/selection/selection_navigation.js') }}"></script>


  <script> 

    //Stores reference to selection form
    const selection_form = document.getElementById("selection-form");

    //Stored converted categories passed to template as array of category objects
    const converted_categories = {{ categories | tojson }};
    //console.log(converted_categories);
    
    // Stores user's selected countries in these categories
    const passports_submit = [];
    const visas_submit = [];

    // Stores user's selected categories and activities with priorities
    const category_submit = [];

    // Stores trackers for feedback logic, globally accessible across files
    window.current_clicked_tag = null;
    window.recently_added_tag = null;
    //window.recently_added_country = null;
    
    // Handles submissions by the form
    function submitForm() {
      submit_selection_form(selection_form, passports_submit, visas_submit, category_submit);
    }


    /*
      <---------------------------------------------------------------->
      <  This array holds all slider-related UI elements and settings  >
      <  for budget and each dynamic category created from backend.    >
      <---------------------------------------------------------------->
    */
    const slider_elements = [];

    // <-- SET UP SLIDER ELEMENTS USING selection_sliders.js FUNCTIONS -->

    // Populate slider elements intially with static elements like Budget
    add_static_sliders(slider_elements);
    // Populate slider elements for all categories
    add_dynamic_sliders(converted_categories, slider_elements);
    // Bind all slider elements to logic
    add_slider_listeners(slider_elements);

    // Display slider elements for debugging
    //console.log("slider_elements: ", slider_elements);
        

    /*
      <------------------------------------------------------->
      <  Manages dropdowns and tag selections for categories  > 
      <  and special elements like Visa and Passport.         >
      <------------------------------------------------------->
    */
    const dropdown_elements = [];

    // <-- SET UP DROPDOWN ELEMENTS USING selection_dropdowns.js FUNCTIONS -->

    // Populate dropdown elements intially with static elements like Budget
    add_static_dropdowns(dropdown_elements);
    // Populate dropdown elements for all categories
    add_dynamic_dropdowns(converted_categories, dropdown_elements, slider_elements);
    // Bind all dropdown elements to logic
    add_dropdown_listeners(dropdown_elements, category_submit, passports_submit, visas_submit);

    // Display dropdown elements for debugging
    //console.log("dropdown_elements: ", dropdown_elements);
   

    /*
      <-------------------------------------------------------->
      <  Collapsible UI sections for organizing categories or  >
      <  groups                                                >
      <-------------------------------------------------------->
    */
    const navigation_elements = [];

    // <-- SET UP NAVIGATION ELEMENTS USING selection_navigation.js FUNCTIONS -->

    // Populate navigation elements intially with static elements like Budget
    add_static_nav_els(navigation_elements);
    // Populate navigation elements for all categories
    add_dynamic_nav_els(converted_categories, navigation_elements);
    // Bind all navigation elements to logic
    add_nav_logic(navigation_elements);

    // Display navigation elements for debugging
    //console.log("navigation elements: ", navigation_elements);



    /*
      <--------------------------------------------------------->
      <  Validates the form and checks for errors and displays  >
      <  them if found.                                         >
      <--------------------------------------------------------->
    */
    const feedback_elements = [];

    // <-- SET UP FEEDBACK ELEMENTS USING selection_feedback.js FUNCTIONS -->

    // Populate feedback elements intially with static elements like Budget
    add_static_feedbacks(feedback_elements);
    // Populate feedback elements for all categories
    add_dynamic_feedbacks(converted_categories, feedback_elements);

    // Display feedback elements for debugging
    //console.log("feedback elements: ", feedback_elements);


    

    //  <--------------------------------------->
    //  <    FUNCTION TO FIND ERRORS IN FORM    >
    //  <--------------------------------------->

    function find_errors() {

      let errors_exist = "None";
      /*
      have a call in submitForm() and navigate_to_dropdown() to scan for possible 
      issues in the div then displays the error messges at the bottom and the error
      icon at the top of the dropdown categories involved

      also run this on change in the selected tag container
      */

      // return true if any errors are found, false otherwise


      // Search all dropdown element in categories for errors
      dropdown_elements.forEach(function(element) {
      
        // Check for category-based dropdowns
        if (element.elementType === "Category") {

          /*
          if (Array.from(element.tags_container.children).some(child => child !== tag && child.classList.contains("active-tag"))) {
              return;
          }
          */

          //console.log(element);

          Array.from(element.selectedTagsContainer.children).forEach(function(tag) {        
              
              // Find the category the tag belongs to
              let target_category = find_category(element, category_submit);

              // Check for the presence of a tag or its category
              //console.log(target_category);

              if (target_category === undefined) {

                errors_exist = "Category Missing";
              
              } 
              
              else {
              
                if (target_category !== undefined) {

                  // Category exists; update or add activity to the category
                  let activities_list = target_category.categoryActivities;

                  // Check if activity is already in the category
                  let activity = find_activity(extract_tag_name(tag), activities_list);

                  if (activity === undefined) {

                    errors_exist = "Activity Missing";
              
                  }
                }
              }

          });
            
        }

      
      });   

      console.log("errors_exist: ", errors_exist);
      
      return errors_exist;

      /*
          Check tags in tag container for the ones that are missing from category
          Used to indicate whether priority has been chosen since only those you've 
          clicked save on have their priorities set. So if in container but not in
          category_submit, priority missing.

          update ui elements to display message, update dropdown element to have 
          error message

          also run this so as soon as a tag exists in the dropdown, inform user to
          click on it to set its priority. disappears when click on a tag
      */

      

      //if priority mssing but havent pressed save changes, neutral m=feedback saying to select
      //if pressed save changes, error message for the tag/s (bullet points) with missing priority

      //console.log(element.elementName);
      //console.log("tag", tag);


    } //end of find_errors()


  </script>

{% endblock %}