
  <!-- ***** Main Banner Area Start ***** -->
  <div class="selection-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="content">
            <div class="blur-bg"></div>
              <h4>What Is Your Ideal Destination?</h4>
              <div class="line-dec"></div>
              <h2>Tell Us About You</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Main Banner Area End ***** -->  
  <div class="select-input-div">
    <div class="container">
      <div class="row">
        <div class="slider-content">
          <div class="row">
            <div class="col-lg-12">
              <h2 id="select-heading">Your Destination Preferences & Requirements</h2>
            </div>
              <div>

                <form id="selection-form">
                  <div class="selection-input">

                    <div id="form-feedback-div" class="selection-feedback-div"> </div>

                    <div class="divider"> </div>

                      {% include "selection/selection_nonactivity.html" %}                  

                      {% include "selection/selection_activity.html" %}

                    <div class="divider"> </div>  
                  
                    <div id="save-input" class="pref-input">
                      <div id="save-input-inner" class="pref-inner">
                        <button type="button" onclick="submit_selection_form()" class="save">Save Changes</button>    
                      </div>   
                    </div>

                  </div>
                </form>

            </div>
        </div>
      </div>
    </div>
  </div>

<div class="seperator">


{% block css %}

  <!-- SELECTION STYLESHEETS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/selection/css/selection_page.css') }}">
  
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/selection/css/selection_form.css') }}">
  
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/selection/css/selection_slider.css') }}">
  
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/selection/css/selection_feedback.css') }}">
  
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/selection/css/selection_tags.css') }}">

{% endblock %}


{% block js %}   

  <!-- SELECTION UTILITY JAVASCRIPT FUNCTIONS -->
  <script src="{{ url_for('static', filename='assets/selection/js/selection_utility.js') }}"></script>

  <!-- ACTIVITY JAVASCRIPT FUNCTIONS -->
  <script src="{{ url_for('static', filename='assets/selection/js/selection_activity_util.js') }}"></script>

  <!-- FEEDBACK HANDLING JAVASCRIPT FUNCTIONS -->
  <script src="{{ url_for('static', filename='assets/selection/js/selection_feedback.js') }}"></script>

  <!-- SUBMIT JAVASCRIPT FUNCTIONS -->
  <script src="{{ url_for('static', filename='assets/selection/js/selection_submit.js') }}"></script>

  <!-- SLIDER JAVASCRIPT FUNCTIONS -->
  <script src="{{ url_for('static', filename='assets/selection/js/selection_sliders.js') }}"></script>

  <!-- DROPDOWN JAVASCRIPT FUNCTIONS -->
  <script src="{{ url_for('static', filename='assets/selection/js/selection_dropdowns.js') }}"></script>  
  
  <!-- TAG JAVASCRIPT FUNCTIONS -->
  <script src="{{ url_for('static', filename='assets/selection/js/selection_tags.js') }}"></script>

  <!-- NAVIGATION JAVASCRIPT FUNCTIONS -->
  <script src="{{ url_for('static', filename='assets/selection/js/selection_navigation.js') }}"></script>

  <!-- ERROR HANDLING JAVASCRIPT FUNCTIONS -->
  <script src="{{ url_for('static', filename='assets/selection/js/selection_error.js') }}"></script>

{% endblock %}



            