<div class="container">
    <div class="row">
        <div class="col-lg-5">
          <div class="section-heading">
            <h2>Meet Your Perfect Destination Now</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
          <div class="items">
            <div class="row">
              <div class="col-lg-12">
                <div class="item">
                  <div class="row">
                    <div class="col-lg-4 col-sm-5">
                      <div class="image">
                        <img src="{{ url_for('static', filename='assets/images/country-01.jpg') }}" alt="">
                      </div>
                    </div>
                    <div class="col-lg-8 col-sm-7">
                      <div class="right-content">
                        <h4>Yahalas Valley</h4>
                        <span>Ontario, Canada</span>
                        <div class="main-button">
                          <a href="{{ url_for('destination_details') }}">Explore More</a>
                        </div>
                        <p>A peaceful mountain escape with stunning alpine views and crystal-clear lakes—perfect 
                          for nature lovers and quiet retreats.</p>
                        <ul class="info">
                          <li><i class="fa fa-home"></i> $190.00</li>
                        </ul>
                        <div class="text-button">
                          <a href="{{ url_for('destination_details') }}">Need Directions ? <i class="fa fa-arrow-right"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="item">
                  <div class="row">
                    <div class="col-lg-4 col-sm-5">
                      <div class="image">
                        <img src="{{ url_for('static', filename='assets/images/jamaica.jpg') }}" alt="">
                      </div>
                    </div>
                    <div class="col-lg-8 col-sm-7">
                      <div class="right-content">
                        <h4>Kingston</h4>
                        <span>Kingston, Jamaica</span>
                        <div class="main-button">
                          <a href="{{ url_for('destination_details') }}">Explore More</a>
                        </div>
                        <p>A lively Caribbean city full of music, waterfalls, and culture—ideal for adventure and good vibes.</p>
                        <ul class="info">
                          <li><i class="fa fa-home"></i> $240.00</li>
                        </ul>
                        <div class="text-button">
                          <a href="{{ url_for('destination_details') }}">Need Directions ? <i class="fa fa-arrow-right"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="item last-item">
                  <div class="row">
                    <div class="col-lg-4 col-sm-5">
                      <div class="image">
                        <img src="{{ url_for('static', filename='assets/images/niagara-falls.jpg') }}" alt="">
                      </div>
                    </div>
                    <div class="col-lg-8 col-sm-7">
                      <div class="right-content">
                        <h4>Niagara Falls</h4>
                        <span>Niagra Falls, Canada</span>
                        <div class="main-button">
                          <a href="{{ url_for('destination_details') }}">Explore More</a>
                        </div>
                        <p>An iconic spot with thunderous waterfalls and unforgettable views—great for 
                          first-time visitors and photographers alike.</p>
                        <ul class="info">
                          <li><i class="fa fa-home"></i> $320.00</li>
                        </ul>
                        <div class="text-button">
                          <a href="{{ url_for('destination_details') }}">Need Directions ? <i class="fa fa-arrow-right"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <ul class="page-numbers">
                  <li><a href="#"><i class="fa fa-arrow-left"></i></a></li>
                  <li><a href="#">1</a></li>
                  <li class="active"><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="side-bar-map">
            <div class="row">
              <div class="col-lg-12">
                <div id="map">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12469.776493332698!2d-80.14036379941481!3d25.907788681148624!2m3!1f357.26927939317244!2f20.870722720054623!3f0!3m2!1i1024!2i768!4f35!3m3!1m2!1s0x88d9add4b4ac788f%3A0xe77469d09480fcdb!2sSunny%20Isles%20Beach!5e1!3m2!1sen!2sth!4v1642869952544!5m2!1sen!2sth" width="100%" height="550px" frameborder="0" style="border:0; border-radius: 23px; " allowfullscreen=""></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>