{% extends "base.html" %}

{% block main %}    

    <div class="signup">
        
      <div class="signup-banner">       
          
        <div class="signup-slideshow-container slideshow-container">
          
          <div class="signup-text-div">
            <h4 id="signup-text">Sign Up for Your <em>Free Destination X</em> Account</h4>
          </div>

          <div class="signup-form">

              <div class="">
                <form id="signup-form" method="POST" action="#">

                  <div class="row">
                    
                    <div class="col-lg-6">
                        <fieldset>
                            <label for="Name" class="form-label">Name</label>
                            <input type="text" name="Name" class="Name" placeholder="Ex. John Smithee" autocomplete="on" required>
                        </fieldset>
                    </div>

                    <div class="col-lg-6">
                      <fieldset>
                          <label for="Email" class="form-label">Email Address</label>
                          <input type="text" name="Email" class="Email" placeholder="Ex. johnsmithee@example.com" autocomplete="on" required>
                      </fieldset>
                    </div>

                    <div class="col-lg-6">
                      <fieldset>
                        <label for="birthdate" class="form-label">Date of Birth</label>
                        <input type="date" name="birthdate" id="birthdate" class="birthdate" required>
                      </fieldset>
                    </div>

                    <div class="col-lg-6">
                      <fieldset>
                          <label for="Residence" class="form-label">Country of Residence</label>
                          <input type="text" name="Residence" class="Residence" placeholder="Ex. United States" autocomplete="on" required>
                      </fieldset>
                    </div>

                    <div class="col-lg-6">
                        <fieldset>
                            <label for="Currency" class="form-label">Preferred Currency</label>
                            <select name="Currency" class="form-select" aria-label="Default select example" id="Currency" onChange="this.form.click()">
                                <option selected>USD</option>
                                <option value="EUR">EUR</option>
                                <option value="GBP">GBP</option>
                                <option value="JMD">JMD</option>
                            </select>
                        </fieldset>
                    </div>
                    
                    <div class="col-lg-6">
                      <fieldset>
                          <label for="Origin-Port" class="form-label">Airport of Origin</label>
                          <input type="text" name="port" class="port" required>
                      </fieldset>
                    </div>

                    <div class="col-lg-6">
                      <fieldset>
                          <label for="Password" class="form-label">Password</label>
                          <input type="password" name="Password" class="Password" required>
                      </fieldset>
                    </div>

                    <div class="col-lg-6">
                      <fieldset>
                          <label for="Confirm-Password" class="form-label">Confirm Password</label>
                          <input type="password" name="Confirm-Password" class="Confirm-Password" required>
                      </fieldset>
                    </div>

                    <div>                        
                        <fieldset>
                            <button class="main-button">Start Planning</button>
                        </fieldset>
                    </div>

                  </div>
                  
                </form>

                <div> 
                  <h5 id="signup-question-text"> 
                    Already have an account? <em> <a href="{{ url_for('login') }}"> Login </a> </em>
                  </h5>
                </div>

              </div>

          </div>

          <div class="slide zoomFade">
            <img src="{{ url_for('static', filename='assets/images/banner-01.jpg') }}">
          </div>

          <div class="slide zoomFade">
            <img src="{{ url_for('static', filename='assets/images/banner-02.jpg') }}">
          </div>

          <div class="slide zoomFade">
            <img src="{{ url_for('static', filename='assets/images/banner-03a.jpg') }}">
          </div>

          <div class="slide zoomFade">
            <img src="{{ url_for('static', filename='assets/images/banner-04.jpg') }}">
          </div>
        </div>
      </div>      

    </div>

{% endblock %}


{% block css %}

  <!-- SIGN UP STYLESHEETS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/account_actions/css/signup.css') }}">

  <!-- BACKGROUND SLIDES STYLESHEETS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/account_actions/css/slides_animation.css') }}">

{% endblock %}


{% block js %}   

  <!-- BACKGROUND SLIDES JAVASCRIPT FUNCTIONS -->
  <script src="{{ url_for('static', filename='assets/account_actions/js/slides_animation.js') }}"></script>

{% endblock%}