@import url("base.css");

.signup-slideshow-container {
  height: 1050px;
}

.signup-text-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 100%;
  z-index: 10;
  position: absolute;
  width: 100%;
  margin-top: 145px;
}

#signup-text {
  color: rgb(232, 232, 232);
  font-size: 29px;
}

#signup-text em {
  font-style: normal;
  color: #ffd166;
}


.signup-form { 
  position: absolute;
  margin-top: 270px;
  height: 70px;
  border-radius: 10px;
  z-index: 5;
}

.signup-form #signup-form {
  padding: 65px 70px 55px 70px;
  background-color: #f9f9f9;
  border-radius: 23px;
  width: 70vw;
}

.signup-form #signup-form label {
  font-size: 15px;
  color: black;
}

.signup-form #signup-form input,
.signup-form #signup-form select {
  width: 100%;
  height: 46px;
  background-color: transparent;
  border-radius: 23px;
  border: 1px solid #e0e0e0;
  padding: 0px 20px;
  cursor: pointer;
  margin-bottom: 30px;
}

.signup-form #signup-form input.date {
  color: #aaa;
}

.signup-form #signup-form button {
  font-size: 14px;
  color: #fff;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  padding: 12px 30px;
  text-align: center;
  border-radius: 25px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 70%;
}

.signup-form #signup-form button:hover {
  opacity: 0.8;
}


.signup-form #signup-question-text {
  color: rgb(232, 232, 232);
  text-align: center;
  margin-top: 20px;
}

.signup-form #signup-question-text em {
  font-style: normal;
  text-decoration: underline;
  color: #ffd166;
}

.signup-form #signup-question-text a:link {
  color: #ffd166;
}

.signup-form #signup-question-text a:visited {
  color: #ffd166;
}

.signup-form #signup-question-text a:hover {
  color: rgb(232, 232, 232);
}

.signup-form #signup-question-text a:active {
  color: rgb(232, 232, 232);
}